<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <br><br>
    {{#if loggedIn}}
    <div class="text-light">
        <h1 class="welcome-title">Hello, {{username}}!</h1>
        <h1 class="home-title">Welcome To The Tech Blog</h1>
    </div>
    {{else}}
    <h1 class="home-title" style="margin-top: -2%;">The Tech Blog</h1>
    {{/if}}

{{!-- homepage should display blog posts if there are any --}}
    {{#each posts}}
    <div class="post ">
        <h2>{{this.title}}</h2>
        <p>{{this.content}}</p>
        <p>Posted by {{this.username}} on {{this.createdAt}}</p>
    </div>
    {{/each}}

    {{#if loggedIn}}
    <div class="text-center">
        <div class="text-center fixed-bottom" style="margin: 20px;">
            <a href="/create-post" class="btn create-btn btn-outline-light">Create a new post</a>
        </div>
    </div>
    {{/if}}
</body>
</html>